body {
  background-color: pink;
  user-select: none;
  overflow: hidden;
}

@keyframes header-glitch {
  0% {
    color: rgb(231, 0, 0);
  }
  10% {
    color: rgb(231, 0, 0);
  }
  20% {
    color: rgb(231, 0, 0);
  }
  30% {
    color: rgb(231, 0, 0);
  }
  40% {
    color: rgb(231, 0, 0);
  }

  50% {
    color: rgb(231, 0, 0);
  }
  60% {
    color: rgb(231, 0, 0);
  }
  70% {
    color: rgb(231, 0, 0);
  }
  80% {
    color: rgb(231, 0, 0);
  }
  80.1% {
    color: rgb(0, 0, 0);
  }
  90% {
    color: rgb(231, 0, 0);
  }
  94.8% {
    color: rgb(0, 0, 0);
  }
  100% {
    color: rgb(231, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%) translateY(10px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(-20px);
  }
}

.fade-in {
  animation: fadeIn 1s;
}

#header-text {
  font: 10em 'Pixelify Sans', sans-serif;
  color: rgb(231, 0, 0);
  text-align: center;
  text-shadow: 5px 5px 2px rgb(0, 0, 0);
  animation: header-glitch 0.5s;
  background-color: rgb(252, 222, 237, 0.5);
  width: 50%;
  margin: 20vh auto 0;
  border-radius: 40px;
  border-bottom: 10px solid rgb(248, 0, 11, 0.2);
  border-right: 10px solid rgb(248, 0, 11, 0.2);
}

#initial-text {
  color: blue;
  border: 1px solid red;
}

#about-button,
#big-ass-start-button,
#second-intro-continue {
  font: 20px 'Pixelify Sans', sans-serif;
  border-style: none;
  margin: 8vh auto 0;
  width: 12.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(231, 0, 0);
  background-color: rgb(252, 222, 237, 0.9);
  border-bottom: 2px solid rgb(248, 0, 11, 0.2);
  border-right: 2px solid rgb(248, 0, 11, 0.2);
  border-radius: 40px;
}

#about-button:hover {
  box-shadow: 0px 0px 12px rgb(231, 0, 0);
  background-color: rgb(252, 222, 237);
  cursor: pointer;
}

#big-ass-start-button {
  background-color: rgb(255, 92, 92, 0.9);
  color: rgb(252, 222, 237);
  line-height: 30px;
  height: 80px;
  margin-top: 30vh;
  padding-top: 25px;
  font-size: 50px;
}

#second-intro-continue {
  background-color: rgb(255, 92, 92, 0.9);
  color: rgb(252, 222, 237);
  line-height: 30px;
  height: 80px;
  margin-top: 70vh;
  padding-top: 25px;
  font-size: 50px;
}
#big-ass-start-button:hover, #second-intro-continue:hover {
  background-color: rgb(255, 92, 92);
  color: white;
  border: 3px solid rgb(252, 222, 237);
  cursor: pointer;
}

#about-button-2 {
  font: 20px 'Pixelify Sans', sans-serif;
  border-style: none;
  margin: 8vh auto 0;
  width: 12.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(231, 0, 0);
  background-color: rgb(252, 222, 237, 0.9);
  border-bottom: 2px solid rgb(248, 0, 11, 0.2);
  border-right: 2px solid rgb(248, 0, 11, 0.2);
  border-radius: 40px;
}

#about-button-2:hover {
  box-shadow: 0px 0px 12px rgb(231, 0, 0);
  background-color: rgb(252, 222, 237);
  cursor: pointer;
}

#full-screen, #second-intro {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 180px 'Pixelify Sans', sans-serif;
  color: rgb(150, 0, 0);
  width: 40vw;
  text-align: center;
  text-shadow: 10px 10px 3px rgb(255, 255, 255);
  animation: float 1s infinite alternate;
}

#second-intro {
  font-size: 60px;
  color: rgb(231, 0, 0);
  text-shadow: 5px 5px 2px rgb(255, 255, 255);
  background-color: rgb(252, 222, 237, 0.8);
  width: 50%;
  margin: 5vh auto 0;
  border-radius: 40px;
  border-bottom: 10px solid rgb(248, 0, 11, 0.2);
  border-right: 10px solid rgb(248, 0, 11, 0.2);
}
