html,
body {
  min-width: 1300px;
}

body {
  background-color: pink;
  user-select: none;
  overflow-x: auto;
  overflow-y: hidden;
}

/* Animations */
@keyframes header-glitch {

  0%,
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    color: rgb(231, 0, 0);
  }

  80.1%,
  94.8% {
    color: rgb(0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%) translateY(10px);
  }

  100% {
    transform: translate(-50%, -50%) translateY(-20px);
  }
}

.fade-in {
  animation: fadeIn 1s;
}

#app {
  min-width: 1270px;
}

#header-text {
  font: 10em 'Pixelify Sans', sans-serif;
  color: rgb(231, 0, 0);
  text-align: center;
  text-shadow: 5px 5px 2px rgb(0, 0, 0);
  animation: header-glitch 0.5s;
  background-color: rgba(252, 222, 237, 0.5);
  width: 50%;
  margin: 20vh auto 0;
  border-radius: 40px;
  border-bottom: 10px solid rgba(248, 0, 11, 0.2);
  border-right: 10px solid rgba(248, 0, 11, 0.2);
}

#initial-text {
  color: blue;
  border: 1px solid red;
}

#about-button,
#big-ass-start-button,
#second-intro-continue {
  font: 20px 'Pixelify Sans', sans-serif;
  border-style: none;
  margin: 8vh auto 0;
  width: 12.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(231, 0, 0);
  background-color: rgba(252, 222, 237, 0.9);
  border-bottom: 2px solid rgba(248, 0, 11, 0.2);
  border-right: 2px solid rgba(248, 0, 11, 0.2);
  border-radius: 40px;
  min-width: 240px;
}

#about-button:hover,
#about-button-2:hover {
  box-shadow: 0px 0px 12px rgb(231, 0, 0);
  background-color: rgb(252, 222, 237);
  cursor: pointer;
}

#big-ass-start-button {
  background-color: rgba(255, 92, 92, 0.9);
  color: rgb(252, 222, 237);
  line-height: 30px;
  height: 80px;
  margin-top: 30vh;
  padding-top: 25px;
  font-size: 50px;
}

#big-ass-start-button:hover,
#second-intro-continue:hover {
  background-color: rgb(255, 92, 92);
  color: white;
  border: 3px solid rgb(252, 222, 237);
  cursor: pointer;
}

#second-intro-continue {
  background-color: rgba(255, 92, 92, 0.9);
  color: rgb(252, 222, 237);
  line-height: 30px;
  height: 80px;
  margin-top: 85vh;
  padding-top: 25px;
  font-size: 50px;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

#about-button-2 {
  font: 20px 'Pixelify Sans', sans-serif;
  border-style: none;
  margin: 8vh auto 0;
  width: 12.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(231, 0, 0);
  background-color: rgba(252, 222, 237, 0.9);
  border-bottom: 2px solid rgba(248, 0, 11, 0.2);
  border-right: 2px solid rgba(248, 0, 11, 0.2);
  border-radius: 40px;
}

#full-screen,
#second-intro {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 140px 'Pixelify Sans', sans-serif;
  color: rgb(150, 0, 0);
  width: 40vw;
  text-align: center;
  text-shadow: 10px 10px 3px rgb(255, 255, 255);
  animation: float 1s infinite alternate;
  min-height: 560px;
  min-width: 315px;
}

#second-intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

#full-screen {
  height: 25vh;
  min-height: 250px;
  font-size: 500%;
}

#second-intro {
  font-size: 60px;
  color: rgb(231, 0, 0);
  text-shadow: 5px 5px 2px rgb(255, 255, 255);
  background-color: rgba(252, 222, 237, 0.8);
  width: 50%;
  margin: 5vh auto 0;
  border-radius: 40px;
  border-bottom: 10px solid rgba(248, 0, 11, 0.2);
  border-right: 10px solid rgba(248, 0, 11, 0.2);
  min-width: 505px;
}

#github-logo {
  width: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#save-cat,
#save-cat-2 {
  position: absolute;
  width: 350px;
  margin-left: 300px;
  margin-top: 100px;
}

#save-cat:hover {
  cursor: pointer;
}

#dialogue-box-him,
#dialogue-box-her,
#dialogue-box-ours {
  background: rgba(0, 0, 0, 0.493);
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  position: absolute;
  right: 50%;
  bottom: 6vh;
  font-size: 20px;
  padding: 7px 20px;
  transform: translateX(50%);
}

#dialogue-box-him {
  background: rgba(0, 0, 0, 0.493);
  color: white;
}

#dialogue-box-her {
  background: rgba(0, 0, 0, 0.493);
  color: rgb(255, 255, 0);
}

#dialogue-box-ours {
  background: rgba(0, 0, 0, 0.493);
  color: (255, 192, 203);
  box-sizing: border-box;
}

#room-navigation {

  position: absolute;
  height: 98%;
  min-width: 1300px;
  margin-left: 0.3vw;

}

#closet-navigation,
#stairs-navigation,
#kitchen-navigation {
  position: absolute;
  border: 5px dotted rgba(255, 0, 0, 0.486);
  box-sizing: border-box;
}

#closet-navigation:hover,
#stairs-navigation:hover,
#kitchen-navigation:hover {
  border: 5px solid transparent;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.178);
}

#closet-navigation {
  height: 52%;
  width: 16%;
  margin-top: 230px;
  margin-left: -24px;
  min-height: 500px;
}

#stairs-navigation {
  height: 45%;
  width: 25%;
  margin-top: 28px;
  margin-left: 41vw;
  max-width: 320px;
  min-height: 520px;
}

#kitchen-navigation {
  height: 70%;
  width: 30%;
  margin-top: 150px;
  margin-left: 70vw;
}
